@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: Outfit;
}

.active {
  background-color: #ffbef573;
  border-color: #c586a5;
}
